/* * {
    /*box-sizing: border-box;
    border: 1px solid red;
} */

fieldset {
    background-color: #ff9100;
    width: 45rem;
 	height: 10rem;
     
}

.pizza {
    display: inline-flex;
    justify-content: space-between;
    border: 3px solid rgba(128, 0, 128, 0.678)
    
}

#type, #taille {
    background-color: #c07268;
    width : 40%;
    height : 130px;
    border: 3px solid purple
}

.formulaire {
    border: 3px solid purple
}

.formCase {
    display: flex;
    padding-top: 1.25rem;
    
}

#nom, #prenom, #adresse {
    margin-right: 1rem;
    width: 5rem;
}

.nom, .prenom, .adresse {
    margin-left: 14rem;
}

.paieCase {
    padding-top: 1.25rem;
    justify-content: space-evenly;
    margin-right: 2rem;
}

.paiement {
    display: inline-flex;
    border: 3px solid purple
    
}

.btn {
    margin-top: 3rem;
    margin-bottom: 3rem;
    background-color: burlywood;
    width:8rem;
}

.myCases {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    border: 3px solid purple;
    width: 50rem;
    padding-top: 0.5rem;
    padding-left: 0.5rem;

}

.action {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
#soumettreFormulaire{
    background-color: crimson;
    font-family: fantasy;
    width:19rem;
    box-shadow: inset 4px black;
}

.myPage {
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.btn {
    background-color: white;
    border-radius: 5px;
    border: 1px solid gray;
}